.home-container {
    width: 1900px;
    height: 6223px;
    background-color: #232324;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-banner {
    width: 1900px;
    height: 546px;
    background-image: url('../images/header-image.png'); 
    display: flex;
    justify-content: center;
}

.banner-content {
    width: 1216px;
    height: 140px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.banner-content h3 {
    font-size: 64px;
    color: #E1E1E1;
    line-height: 70.4px;
    margin-top: 10px;
    margin-left: 10px;
}

.banner-content h5 {
    color: #E1E1E1;
    font-size: 20px;
    font-family: 'venryn-lite'
}

#upper-image {
    position: absolute;
    left: 0px;
    top: 151px;
}

.frame-container {
    width: 392px;
    height: 134px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-button {
    background-color: #EB1F20;
    width: 237px;
    height: 50px;
    color: #E1E1E1;
    font-family: 'venryn';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 250ms ease;
}

.catalog-button:hover {
    transform: scale(1.15)
}

.navigate-arrow {
    color: #E1E1E1;
    background-color: #EB1F20;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 880px;
    left: 1800px;
    border-radius: 5px;
    transition: all 250ms ease;
    cursor: pointer;
}

.navigate-arrow:hover {
    transform: scale(1.15)
}

.form-promo {
    width: 1568px;
    height: 540px;
    display: flex;
    align-self: flex-start;
    border-radius: 0 20px 20px 0;
    margin-top: 150px;
}

.promo-content {
    width: 950px;
    height: 540px;
    background-color: #19191A;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

.promo-image {
    background-image: url('../images/prefooter-image.png');
    background-size: cover;
    width: 618px;
    height: 540px;
    border-radius: 0 20px 20px 0;
}

.promo-form {
    width: 568px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
}

.promo-title {
    color: #E1E1E1;
    font-family: 'venryn-semibold';
    font-size: 40px;
    line-height: 44px;
}

.promo-text {
    color: #C3C5C8;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 26.66px;
    margin-top: 30px;
}

.mail-form {
    display: flex;
    width: 568px;
    height: 100px;
    flex-direction: column;
    margin-bottom: 30px;
}

.mail-box {
    display: flex;
}

.check {
    color: white;
    font-size: 13px;
    line-height: 19.5px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    width: 568px;
}

.mail-form-input {
    background-color: #19191A;
    width: 408px;
    height: 50px;
    border: 0;
    border-bottom: 1px solid #4B4B4C;
    margin-bottom: 30px;
    margin-right: 10px;
}

.mail-button {
    width: 152px;
    height: 50px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EB1F20;
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.container {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .container input {
    display: none;
  }
  
  .container svg {
    overflow: visible;
  }
  
  .path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
  }
  
  .container input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
  }
  







::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #848B8A;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #848B8A;
   opacity:  1;
   font-size: 20px;
   font-family: "Montserrat", sans-serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   #848B8A;
   opacity:  1;
   font-size: 20px;
   font-family: "Montserrat", sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #848B8A;
   font-size: 20px;
   font-family: "Montserrat", sans-serif;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:   #848B8A;
   font-size: 20px;
   font-family: "Montserrat", sans-serif;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #848B8A;
   font-size: 20px;
   font-family: "Montserrat", sans-serif;
}